body{
    font-family: Arial;
    margin:0;
    background:#f4f4f4;
}

header{
    background:#222;
    color:white;
    text-align:center;
    padding:30px;
}

section{
    background:white;
    margin:20px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

h2{
    border-bottom:2px solid #ddd;
    padding-bottom:5px;
}

.cert{
    margin-top:15px;
}

.btn{
    display:inline-block;
    margin-top:10px;
    padding:8px 15px;
    background:#222;
    color:white;
    text-decoration:none;
    border-radius:5px;
}

.btn:hover{
    background:#444;
}
